</div>

  <div class="footer-padding"></div>
  <div class="footer">
    <i class="social-icon fa fa-facebook-official fa-lg" aria-hidden="true"></i>
    <i class="social-icon fa fa-twitter fa-lg" aria-hidden="true"></i>
    <i class="social-icon fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
  </div>
</div>
</body>

</html>
