<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>inIcelandic</title>
  <meta charset="utf-8">
  <!-- Bootstrap Script -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/3e92938f85.js"></script>
  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">

      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand"><span style="color:#DC1E35">in<span style="color:#02529C">Icelandic</p>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT</a></li>
            <li id="library"><a href="/library">LIBRARY</a></li>
          </ul>
        </div>

    </nav>

  <div class="jumbotron">
        </div>

<body>
  <div class="container">
